
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}
body{
    background: linear-gradient(270deg, #abdbef, #f3cada, #fdd4c1, #daeee7, #789cce);
    background-size: 900% 900%;

    -webkit-animation: AnimationName 48s ease infinite;
    -moz-animation: AnimationName 48s ease infinite;
    animation: AnimationName 48s ease infinite;
    width: 100%;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.section1, .section2{
    width: 60%;
}
.main{
    float: right;
    margin-right: 10px;
    margin-top: -50px;

}
.title{
    color: whitesmoke;
    font-size: 6em;
    font-style: italic;
    text-align: left;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 140px;
}
.sec3Title{
    color: #4E4E4E;
    font-size: 3em;
    font-style: italic;
    text-align: left;
    margin-top: 100px;
}

.sec1text, .sec2text, .sec3text, .sec3text2, .sec3text3 {
    color: black;
    font-size: 2em;
    margin: 10px;
    text-align: left;

}
.sec3text{
    margin-top: 20px
}

.section4, .section3, .section2, .section1{
    margin-left: 140px;
    margin-right: 200px;
}
.section3{
    margin-bottom: 130px;
    margin-top: 80px;
}
.section1, .section2{
    margin-top: 10px;
}
.rightArrow{
    float: right;
    margin-top: 50px;
    margin-right: -380px;
}
.arrow-text{
    font-size: 1.3em;
    float: right;
    margin-top: 160px;
    margin-right: -380px;
}
.arrow-textL{
    font-size: 1.3em;
    float: left;
    margin-top: 160px;
    margin-left: -40px;
}
.leftArrow{
    float: left;
    margin-top: 50px;
    margin-left: 10px;
}